@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');

$white: #eee;
$black: #111;
$kaki: #777222;

$box-shadow: 0 0 8px -2px #000;

$main-font: 'Roboto', sans-serif;
$second-font: 'Lato', sans-serif;