header{
    background-color: white;    
    box-shadow: $box-shadow;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-wrapper > a{
        display: block;
        line-height: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;

        li {
            transition: .3s;
            
            a {
                padding: 10px 20px;
                transition: .3s;
                border-top: solid 2px rgba(255,255,255,0);
                border-bottom: solid 2px rgba(255,255,255,0);
            }
            
            &:hover {
                a {
                    color: $kaki;
                    border-top: solid 2px $kaki;
                    border-bottom: solid 2px $kaki;
                }

                
            }
        }
    }
}